/***
 *    .-. .-. .-. . . .-. .-. .-. . . .-. .-.   .-. .-.   .-. .  . .-. .-. . .   .-. .  . .-. . . .-. .-.   
 *    |   | | |-'  |  |(   |  |.. |-|  |  `-.   | | |-     |  |\/| |(  |-| |\|   |-| |\/| |-| |\| |-|  |    
 *    `-' `-' '    `  ' ' `-' `-' ' `  '  `-'   `-' '     `-' '  ` ' ' ` ' ' `   ` ' '  ` ` ' ' ` ` '  '    
 *                                                                                                           
 *   Created on : Oct 24, 2016, 8:41:43 PM
 *   Author     : Imran Amanat
 */


@color1: #122E56;
@color2: #222428;
@color3: #8ABD40;

@textcolor1: #000;

@z-dfc: 2px; //Footer: tags border-radius 
@z-white: #ffffff; //Footer: White Color 

section, footer{
    position: relative;
}

body{
    font-size: 12px !important;
    
}

header {
    
    width: 100%;
    height: 60px;
    display: block;
    background-color: @color1;
    z-index: 999;
    
    .container{
        
        .row{
            img{
                float: left;
                width: 40px;
                width: 126px;
                margin-top: 6px;
            }
        }
        
    }

}


footer {
    
    padding-bottom: 30px;
    width: 100%;
    background-color: @color2;
    
    .container{
        
        div{

            div{
                
                figure{
                    margin-top: 21px;
                    
                    img{
                        vertical-align: middle;
                        width: 110px;
                    }
                }
                
                p.copyrights {
                    margin: 6px 0px;
                    color: @color3;
                    padding-left: 10px;
                }
                
                nav{
                    
                    a{
                        color: @color3;
                    }
                    
                    margin: 6px 0px;
                    padding-left: 10px;
                }
            }
        }

        .tags-box{
            line-height: 27px;
            margin-top: 7px;
            padding: 23px;
            
            span {
                background-color: @z-white;
                padding: 4px 12px;
                border-radius: @z-dfc;
            }
            
            a {
                background-color: @color3;
                padding: 4px 12px;
                color: @z-white;
                border-radius: @z-dfc;
                text-decoration: none;
                margin-left: 1px;
            }
        }
        
        div.ces-box{
            
            .ces-text{
                background-color: #FFFFFF;
                padding: 10px 38px;
                font-size: 12px;
                border-radius: 15px;
                color: @color3;
                margin: 10px;
                margin-top: 31px;
            }
        }
        
        .dmca{
            color: @z-white;
            padding: 0px 10px;
            margin-top: 35px;
        }
    }
}


.newsLetter{
    background-color: @color3;
    
    div.container{
        div.row{
            div.mailimg{
                figure{
                    
                    img.img-responsive{
                        margin: 18px auto;
                    }
                }
            }
            
            div.mailimgSend{
                
                p.smt{
                    font-size: 20px;
                    margin-top: 14px;
                    margin-bottom: 0px;
                    color: @z-white;
                }
                
                p.smtt{
                    font-size: 15px;
                    color: @z-white;
                }
                
                input.sminput{
                    padding: 11px 12px;
                    width: 50%;
                    border-radius: 44px;
                    height: 44px;
                }
                
                button{
                    padding: 11px;
                    width: 10%;
                    border-radius: 44px;
                    height: 44px;
                    border: hidden;
                    background-color: @color1;
                    color: @z-white;
                }
            }
        }
    }
}



.coverView{
    background-color: #FAFFF2;
/*    background-image: url('');*/
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
    
    div{
        
        
        div{
            
            
            div{
                
                
                figure{
                    
                }
            }
        }
    }
}
